.userInfo {
  @media print {
    margin-bottom: 6px !important;
    padding: 0 !important;
  }
}

.printOnly {
  display: none;

  @media print {
    display: inline;
    font-weight: 600;
  }
}

@media print {
  :global(#firstName),
  :global(#lastName),
  :global(label[for='firstName']),
  :global(label[for='lastName']) {
    display: none !important;
  }
}
